.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 10px;
    max-height: 60px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__item{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--black);
    font-size: 14px;
    line-height: 20;
    text-decoration: none;
}

.menu__item:visited {
    color: var(--black);
}

.menu__counter{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid var(--black);
    border-radius: 50%;
    padding: 5px 10px;
}